# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
meda_venv/
env/
ENV/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
temp_uploads/
*.csv

# Python packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# PyInstaller
*.spec

# Streamlit
.streamlit/

# Others
*.bak
*.swp
